---

---

<header class="flex justify-between items-center p-16 h-24 w-full bg-[#181818]">
	<button class="flex items-center gap-2">
		<img src="/logo.png" alt="GN | Watchlist" />
	</button>
    <button id="login-button" class="bg-[#00BFA6] text-[#E0E0E0] hover:bg-[#1DE9B6] px-8 py-3 rounded-2xl font-semibold">
        Login
    </button>
</header>

<script>
    const login = document.getElementById('login-button');

    login?.addEventListener('click', () => {
        window.location.href = '/login';
    });
</script>